<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PS2_GUI_Alpha_v2._0.Properties.Settings.db_usersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_users.mdb"
            providerName="System.Data.OleDb" />
        <add name="PS2_GUI_Alpha_v2._0.Properties.Settings.db_psConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_ps.mdb"
            providerName="System.Data.OleDb" />
        <add name="PS2_GUI_Alpha_v2._0.Properties.Settings.db_psConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db_ps.mdb"
            providerName="System.Data.OleDb" />
        <add name="PS2_GUI_Alpha_v2._0.Properties.Settings.db_psConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\db_ps.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>